@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

:root {
    --cor-principal: #0d1b2a;
    --cor-de-fundo: linear-gradient(45deg, #CDCEFB, #B3B4D2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kelly Slab', cursive;
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-areas: "header header" 
                         "main main"
                         "footer footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
     grid-area: header;
     height: 13.7vh;
     z-index: 2;
}

.fundo {
    background-color: var(--cor-principal);
    height: 8.78vh;
    z-index: -1;
}

.barra-pesquisa {
  position: absolute;
  top: 2.78vh;
  left: 0;
  width: 100%;
  height: 4.33vh;
  display: flex;
  justify-content: end;     
}

.barra-pesquisa input[type="text"] {
  width: 90%;           
  height: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  outline: none;
  margin-right: 14.6vw;
  padding-left: 18vw;
  padding-right: 3vw;
}

.logo-fundo {
    position: absolute;
    display: flex;
    top: 2.78vh;
    right: 82%;
    width: 18.59vw;
    height: 15vh;
    justify-content: start;
    background-color: var(--cor-principal);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.logo {
    position: absolute;
    top: -0.1vh;
    height: 14vh;
    left: 4.5vw;
    overflow: hidden;
}

.menu {
    margin-left:  7.81vw;
    margin-right: 7.14vw;
    white-space: nowrap;
}

i {
  position: absolute;
  color: #727070;
  font-size: 1.4vw;
  margin-top: 1vh;
  margin-left: 0.5vw;
}

ul li input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
  margin-top: 0.4vh;
}

ul {
    list-style: none;
    background-color: white;
    margin-top: 0.3vh;
    text-align: end;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    color: #4D4D4D;
    text-decoration: none;
    text-align: start;
    font-size: 1.25rem;
    padding-left: 0.5vw;
}

ul li input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

ul li label:not(.opcaoC) {
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin-left: 11vw;
    color: #383838;
}

.opcaoQ {
    font-size: 1.5vw;
}

.opcaoC {
    margin-left: 6vw;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-size: 1.5vw;
    color: #383838;
}

ul li ul.submenu {
    margin-left: 7.8vw;
    border-radius: 0 0 5px 5px;
    width: 150%;
    line-height: 6.5vh;
    max-width: 205px;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}

#acessorios {
    margin-left: 12vw;
}

#promocoes {
    margin-left: 7.28vw;
}

#colecoes {
    margin-left: 12vw;
}

ul li ul.submenu li {
    display: block;
}

ul li:not(.opcaomenu):hover{
    background-color: rgba(0, 0, 0, 0.15);
}

ul li:hover ul.submenu {
    display: block;
}

ul li input[type="checkbox"] + label + ul.submenu {
    display: none;
}

ul li input[type="checkbox"]:checked + label + ul.submenu {
  display: block;
}

main {
    grid-area: main;
    background: var(--cor-de-fundo);
}

.banner-principal {
  top: 0.4vh;
  width: 100%;
  height: 35vw;
  overflow: hidden;
  position: relative;
  background-color: #0000007e;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeSlide 15s infinite;
  animation-timing-function: ease-in-out;
}

.banner1 {
  background-image: url(IMG/banners/banner1.png);
  animation-delay: 0s;
}

.banner2 {
  background-image: url(IMG/banners/banner2.png);
  animation-delay: 5s;
}

.banner3 {
  background-image: url(IMG/banners/banner3.png);
  animation-delay: 10s;
}

@keyframes fadeSlide {
  0%   { opacity: 0; }   /* invisível */
  10%  { opacity: 1; }   /* começa a aparecer */
  30%  { opacity: 1; }   /* ainda visível */
  50%  { opacity: 0; }  
  100% { opacity: 0; }   /* invisível de novo */
}

.produtos-geral {
  box-sizing: border-box;
  margin-left: 18px;
  right: 18px;
}

h1 {
  text-align: center;
}

.P {
  display: inline-block;
  background-color: white;
  background-size: 22.6vw;
}

footer {
    grid-area: footer;
    width: 100vw;     
    height: 30.3vh; 
}

.copyright {
    background: var(--cor-principal);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 9vh;
    color: white;
    font-size: 2.22vh;
}

@media (max-width: 768px) {
   
  header {
     height: 9.7vh;
  }

  .fundo {
    height: 6.3vh;
  }

  .barra-pesquisa {
    top: 1.5vh;   
  }

  i {
    font-size: 1.7vw;
    position: absolute;
    margin-top: 0.6vh;
    margin-left: 1.35vw;
  }

  ul li input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
  margin-top: 0;
  }

  .barra-pesquisa input[type="text"] {          
    height: 87%;
    max-width: 100%;
    padding: 0 0.6rem;
    font-size: 0.6rem;
    margin-right: 17vw;
    padding: 0 4vw 0 24vw;
    box-sizing: border-box;
  }

  ul {
    margin-top: 0;
  }

  ul li {
     top: -0.3vh;
  }

  ul li a {
    font-size: 2.6vw;
    margin-left: 1vh;
    padding-left: 0.5vw;
    height: 6vh;
  }

  .opcaoC {
    font-size: 2.1vw;
    margin-left: 7.31vw;
  }

  .opcaoQ {
    font-size: 2.1vw;
  }

  #categorias {
    margin-left: 10vw;
    line-height: 4.5vh;
    max-width: 27vw;
  }

  #promocoes {
    margin-left: -5vw;
    line-height: 4.5vh;
    width: 27vw;
  }

  #colecoes {
    margin-left: 0;
    line-height: 4.5vh;
    width: 27vw;
  }

  ul li ul.submenu:not(#categorias, #promocoes, #colecoes) {
    margin-left: 0;
    line-height: 4.5vh;
    max-width: 120px;
  }

  ul li label:not(.opcaoC) {
    margin-left: 7vw;
  }

  .logo-fundo {
    top: 0;
    left: 0;
    width: 27vw;
    height: 13vh;
  }

  .logo {
    height: 9vh;
    left: 5.4vw;
    top: 0.6vh;
  }

  .menu {
    margin-left: 1vw;
    margin-right: 3.4vw;
  }

  .banner-principal {
    height: 35vw;
  }
  
  .copyright {
    font-size: 1.8vh;
    padding: 1vh;
  }
}

@media (max-width: 480px) {

  header {
     height: 8.5vh;
  }

  .menu {
    margin-right: 3.9vw;
  }

  .fundo {
    height: 5.7vh;
  }

  .logo {
    height: 8vh;
    left: 1.8vw;
    top: 0.6vh;
  }

  .logo-fundo {
    width: 30vw;
    height: 10vh;
  }

  .barra-pesquisa input[type="text"] {          
    height: 70%;
  }

  ul li {
     top: -0.5vh;
  }

  ul li a {
    font-size: 3vw;
    margin-left: 1vh;
    padding-left: 0.5vh;
    height: 7vw;
  }

  .opcaoC {
    font-size: 2.5vw;
  }

  .opcaoQ {
    font-size: 2.5vw;
  }

  ul li label:not(.opcaoC) {
    margin-left: 3.4vw;
  }

  i {
    font-size: 2.2vw;
    margin-top: 0.5vh;
    margin-left: 1vw;
  }

  ul li input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
  margin-top: 0.3vh;
}

.copyright {
    font-size: 1.5vh;
    padding: 0;
  }

}