@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

:root {
    --cor-principal: #0d1b2a;
    --cor-de-fundo: linear-gradient(45deg, #CDCEFB, #B3B4D2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Kelly Slab', cursive;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2 {
  font-weight: 400;
  text-shadow: 
    -0.2px -0.2px 0 black,  
     0.2px -0.2px 0 black,
    -0.2px  0.2px 0 black,
     0.2px  0.2px 0 black;
}

.container {
  display: grid;
  grid-template-areas: "header header" 
                       "main main"
                       "footer footer";
  min-height: 100vh;
  grid-template-columns: auto 1fr auto;
  background: var(--cor-de-fundo);
}

a {
  text-decoration: none;
  color: black;
}

/*Cabeçalho igual para todas as paginas*/

header { 
  grid-area: header;
  background-color: white;
  height: 13.7vh;
  z-index: 999;
}

.parte-superior {
  position: relative;
}

.logo-quadrado {
  margin-top: -9vh;
  position: relative;
}

.icone-user, .icone-bag {
  width: 3.3vh;
  height: auto;
  cursor: pointer;
}

.icone-search {
  margin-right: 8.7vw;
  width: 3.3vh;
  height: 100%;
}

.header-icones {
  position: absolute;
  top: 3.2vh;
  right: 2vw;
  display: flex;
  gap: 0.8vw; 
}

.fundo {
  background-color: var(--cor-principal);
  height: 8.78vh;
  z-index: -1;
}

.barra-pesquisa {
  position: absolute;
  top: 2.78vmin;
  left: 0;
  width: 100%;
  height: 4.33vh;
  display: flex;
  justify-content: end;     
}

.barra-pesquisa input[type="text"] {
  width: calc(100% - 21vw);          
  height: 100%;
  font-size: 1.2vmax;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  outline: none;
  margin-right: 14.6vmax;
  padding-left: 12vw;
  padding-right: 3vw;
}

.logo-fundo {
  position: absolute;
  display: flex;
  top: 2.78vmin;
  right: 82%;
  width: 18.59vw;
  height: 15vmin;
  justify-content: start;
  background-color: var(--cor-principal);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.logo {
  position: absolute;
  height: 14vmin;
  left: 4.5vmax;
  overflow: hidden;
}

/*Parte do Menu*/

.menu {
  margin-top: 9.3vmin;
  margin-left:  7.81vmax;
  margin-right: 7.14vmax;
  white-space: nowrap;
  max-width: 100%;
}

.separacao {
  position: relative;
  z-index: 2;
  background-color: #B3B4D2;
  height: 0.5vh;
}

i {
  position: absolute;
  color: #727070;
  font-size: 1.4vmax;
  margin-top: 1vh;
  margin-left: 0.5vw;
}

ul li input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
  margin-top: 0.4vh;
}

ul {
  list-style: none;
  background-color: white;
  margin-top: 0.3vh;
  text-align: end;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  color: #4D4D4D;
  text-decoration: none;
  text-align: start;
  font-size: 1.25rem;
  padding-left: 0.5vw;
}

ul li input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

ul li label:not(.opcaoC) {
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin-left: 11vw;
  color: #383838;
}

.opcaoQ {
  font-size: 1.5vmax;
}

.opcaoC {
  margin-left: 6vw;
  cursor: pointer;
  display: block;
  text-decoration: none;
  font-size: 1.5vmax;
  color: #383838;
}

/*Parte do Submenu*/

ul li ul.submenu {
    margin-left: 7.8vw;
    border-radius: 0 0 5px 5px;
    width: 150%;
    line-height: 6.5vh;
    max-width: 205px;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}

#acessorios, #colecoes {
  margin-left: 12vw;
}

#promocoes {
  margin-left: 7.28vw;
}

ul li ul.submenu li {
  display: block;
}

ul li:not(.opcaomenu):hover{
  background-color: rgba(0, 0, 0, 0.15);
}

ul li:hover ul.submenu {
  display: block;
}

ul li input[type="checkbox"] + label + ul.submenu {
    display: none;
}

ul li input[type="checkbox"]:checked + label + ul.submenu {
  display: block;
}

/*Fim de Cabeçalho*/

/*Main: aqui é diferente para cada pagina, porém o mais usado são o layout dos produtos.*/

main {
  grid-area: main;
  background: var(--cor-de-fundo);
}

/*Parte do primeiro banner que direciona para outras paginas*/
.banner-principal {
  top: 0;
  width: 100%;
  height: 35vw;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: #0000007e;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  animation: fadeSlide 15s infinite;
  animation-timing-function: ease-in-out;
}

.banner1 {
  background-image: url(IMG/banners/banner1.png);
  animation-delay: 0s;
}

.banner2 {
  background-image: url(IMG/banners/banner2.png);
  animation-delay: 5s;
}

.banner3 {
  background-image: url(IMG/banners/banner3.png);
  animation-delay: 10s;
}

@keyframes fadeSlide {
  0%   { opacity: 0; pointer-events: none;}   /* invisível */
  10%  { opacity: 1; pointer-events: auto;}   /* começa a aparecer */
  30%  { opacity: 1; pointer-events: auto;}   /* ainda visível */
  50%  { opacity: 0; pointer-events: none;}  
  100% { opacity: 0; pointer-events: none; }   /* invisível de novo */
}

/*Parte dos produtos*/

.separar {
  background-color: white;
  height: 1.4vh;
  width: 100%;
}

.produtos-geral {
  margin-top: 5vh;
  justify-items: center;
}

.titulo-produto {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
}

.titulo-produto h1 {
  font-size: 2.1vw;
  text-align: center;
  margin-bottom: 3.63vh;
  margin-left: 2.22vw;
  margin-right: 2.22vw;
}

.linha1 {
  margin-top: 1vmax;
  height: 1vmin;
  width: 37vw;
  background-color: white;
}

.linha2 {
  margin-top: 1vmax;
  height: 1vmin;
  width: 37vw;
  background-color: white;
}

.linha3 {
  margin-bottom: 5.5vh;
  height: 1vmin;
  width: 94.7vmax;
  background-color: white;
}

.P {
  display: inline-block;
  background-color: white;
  width: 22.6vw;
  height: 35.6vmax;
  padding: 1.75vh 0vw 4.25vh 0.83vw;
  margin-bottom: 5vh;
}

.IMGprodutos {
  width: 21vw;
  height: 28vmax;
  overflow-x: hidden;
}

.Text-tipo {
  color: #5c5c5c;
  font-size: 1.11vw;
  margin-top: 0.6vh;
}

.Text-valor {
  color: #25C330;
  font-size: 1.74vw;
  margin-top: 1vh;
}

.Text-parcela{
  color: #5c5c5c;
  font-size:  1.25vw;
}

.Text-parcela strong {
  color: black;
}

/*Banner secundario*/

.bannerNEW {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*Rodapé que é igual em todas as paginas*/

.informacaoGERAL {
  overflow-x: hidden;
  margin: 1.625vh 2.78vw 2.25vh 2.78vw;
}

/*Parte das garantias*/

.garantias {
  width: 100%;
  height: 13.47vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

.garantia {
  display: flex;
  align-items: center;
}

.garantias img {
  margin: 0;
  width: 6vw;
  height: auto;
}

.texto_garantias {
  margin-left: 0.4vw;
  display: flex;
  flex-direction: column;
  max-width: 15vw;
}

.garantia3 .texto_garantias {
  margin-left: 0.4vw;
  display: flex;
  flex-direction: column;
  max-width: 30vw;
}

.garantias h2 {
  font-size: 1.25vw;
  margin-bottom: 0.3vh;
}

.garantia p {
  font-size: 1.1vw;
  color: #4e4e4e;
}

/*Informações gerais no site*/

.informacoes {
  display: flex;
  width: 100%;
  height: 31vh;
  padding-top: 2.75vh;
  padding-left: 1.53vw;
  gap: 8vw;
  width: 100%;
  background-color: #FFFFFFCC;
;
}

.informacoes h2 {
  font-size: 1.67vmax;
  margin-bottom: 0.7vh;
}

.newsletter_email input {
  margin-top: 0.8vh;
  width: 14.51vw;
  height: 4.43vh;
  padding: 1vmax 0.6vw 1vmax;
  font-size: 1.11vmax;
  color: #5c5c5c;
  background-color: #f9f9fc;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: 'Kelly Slab', cursive;
}

.newsletter_email input::placeholder {
  color: #aaa;
  font-size: 1.2vw;
}

.button_letter {
  margin-top: 0.9vw;
  padding: 1.1vh 0.8vw;
  background-color: #0d1b2a;
  color: white;
  font-family: 'Kelly Slab', cursive;
  font-size: 1vw;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.informacoes p {
  font-size: 1.2vmax;
  margin-bottom: 1vh;
}

footer {
  align-content: flex-end;
  grid-area: footer;
  background: var(--cor-de-fundo);
  width: 100%;  
}

.copyright {
  background: var(--cor-principal);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 9vh;
  color: white;
  font-size: 2.22vh;
}

/*Pagina especifica: Entrar_conta*/

.container_quadrados {
  margin-top: 6vh;
  margin-bottom: 5vh;
  justify-content: center;
  display: flex;
  gap: 2.6vw;
}

.quadrado1 {
  padding: 1.5vw;
  background-color: #ffffffe3;
  width: 33vw;
  height: 68.5vmin;
  border-radius: 5px;
}

.Email_Senha {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.Email_Senha img {
  width: 1.6vw;
  height: auto;
  position: absolute;
  right: 1vw; 
  top: 62%;
  transform: translateY(-62%);
  cursor: pointer;
}

.Email_Senha input {
  width: 100%;
  height: 6vh;
  padding: 0.5vw 3vw 0.5vw 0.5vw;
  font-size: 1.25vw;
  border: 1px solid #999999;
  border-radius: 5px;
}

.Email_Senha label {
  color: #272727;
  font-size: 1.1vw;
  margin-top: 3vh;
}

.Esqueceu_Senha {
  color: #272727;
  text-decoration: underline;
  font-size: 1.1vw;
  margin-top: -0.7vh;
  cursor: pointer;
}

.botao_entrarB {
  margin-top: 5vh;
}

.botao_entrarB, .botao_criarB {
  background-color: #0d1b2a;
  width: 100%;
  height: 6vh;
  font-size: 1.25vw;
  color: #FFFFFF;
  border-radius: 5px;
  align-content: center;
  justify-items: center;
}

.divisao_botao {
  display: flex;
  justify-content: center;
  margin: 1.2vh 0;
  font-size: 1.25vw;
  color: #00000080;
}

.ou {
  background-color: #00000080;
  width: 25%;
  height: 0.1px;
  margin: 0.8vw;
}

.botao_entrarG {
  display: flex;
  background-color: #CACACA;
  border-radius: 5px;
  font-size: 1.25vw;
  width: 100%;
  height: 6vh;
  align-items: center;
  justify-content: center;
}

.botao_entrarG img {
  width: 1.8vw;
  height: auto;
  margin-right: 0.6vw;
}

.quadrado2 {
  background-color: #ffffffe3;
  padding: 1.5vw 1.1vw;
  width: 26vw;
  height: 39.8vmin;
  border-radius: 5px;
  margin-bottom: 1.3vh;
}

.texto_conta {
  color: #272727;
  width: 90%;
  font-size: 1.17vw;
  line-height: 1.3vw;
  margin-left: 0.2vw;
  margin-bottom: 4.5vh
}

.quadrado1 h2 {
  font-size: 2.3vw;
}

.quadrado2 h2 {
  font-size: 2vw;
  margin-bottom: 1.39vh;
}

.decoracao {
  border-radius: 5px 5px 5px 0;
  margin-bottom: 1.4vh;
}

.d1 {
  height: 4.7vh;
  width: 18.4vw;
  background-color: #ffffffe3;
}

.d2 {
  height: 4vh;
  width: 10.10vw;
  background-color: #ffffffe3;
}

.d3 {
  height: 4vh;
  width: 5.10vw;
  background-color: #ffffffe3;
}

/*Pagina especifica: Criar_conta*/

.container_FORMULARIO {
  margin-top: 5vh;
  margin-bottom: 5vh;
  justify-content: center;
  display: flex;
}

.quadradoFORM {
  display: flex;
  flex-direction: column;
  padding: 1.5vw;
  background-color: #ffffffe3;
  width: 33vw;
  height: 108vmin;
  border-radius: 5px;
}

.quadradoFORM h2 {
  text-align: center;
  font-size: 2.2vw;
  margin-bottom: 1vh;
}

.Form_input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.Texto_Senha {
  color: #272727;
  font-size: 1vw;
  margin-top: -0.5vh;
}

.OlhoIMG1, .OlhoIMG2 {
  width: 1.6vw;
  height: auto;
  position: absolute;
  right: 1vw; 
  cursor: pointer;
}

.OlhoIMG1 {
  top: 53%;
  transform: translateY(-53%);
}

.OlhoIMG2 {
  top: 82%;
  transform: translateY(-82%);
}

.Form_input input {
  width: 100%;
  height: 6vh;
  padding: 0.5vw 3vw 0.5vw 0.5vw;
  font-size: 1.25vw;
  border: 1px solid #999999;
  border-radius: 5px;
}

.Form_input label {
  color: #272727;
  font-size: 1.1vw;
  margin-top: 3vh;
}

.termos_Container {
  display: flex;
  justify-content: center;
  margin-top: 5.5vh;
  margin-bottom: 2.5vh;
}

.termos_Conta {
  text-align: center;
  color: #000000;
  width: 70%;
  font-size: 1.2vw;
}

/*Pagina especifica: Marca*/

.container_Marca {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.quadradoMarca {
  display: flex;
  padding: 1.5vw 2vw;
  background-color: #ffffffe3;
  width: 95vw;
  height: 130vh;
  border-radius: 5px;
}

.LojaSafira {
  width: 70%;
  height: auto;
  overflow-x: hidden;
}

.textoMarca {
  width: 90%;
  margin-left: 5.2vw;
  margin-top: 7vh;
}

.textoMarca h1 {
  font-size: 2.3vw;
  margin-bottom: 4.7vh;
}

.textoMarca h2 {
  font-size: 1.7vw;
  margin-bottom: 1.5vh;
}

.textoMarca p {
  font-size: 1.4vmax;
  width: 87%;
  margin-bottom: 8vh;
  color: #000000ec;
}

/*Pagina especifica: Sacola*/

.container_Sacola {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 6vh;
  margin-bottom: 5vh;
}

.Squadrado1 {
  padding: 1.5vw;
  background-color: #ffffffe3;
  width: 56vw;
  height: 73.5vh;
  border-radius: 5px;
}

.Squadrado2 {
  padding: 1.5vw;
  background-color: #ffffffe3;
  width: 35vw;
  height: 73.5vh;
  border-radius: 5px;
}

.Stitulo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  flex-wrap: nowrap;
}

.Meta {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.MetaProgresso {
  display: flex;
  gap: 0.5vw;
  align-items: center;
}

.barra_progresso {
  width: 90%;
  height: 1.5vh;
  background-color: #ffffff;
  border-radius: 5px;
  border: #999999 solid 1px;
  overflow: hidden;
}

.MetaTexto {
  justify-items: center;
  font-size: 1.2vw;
}

.Subtotal {
  display: flex;
  justify-content: space-between;
}

.TotalImpostos {
  display: flex;
  justify-content: space-between;
}

.divisao_subtotal {
  width: 100%;
  height: 1px;
  background-color:#00000080;
  border-radius: 5px;
  overflow: hidden;
}

.TotalEstimado {
  display: flex;
  justify-content: space-between;
}

.botao_checkout {
  display: flex;
  background-color: var(--cor-principal);
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 1.25vmax;
  width: 100%;
  height: 6vh;
  align-items: center;
  justify-content: center;
}

.botao_checkout img {
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-5%);
  margin-right: 0.2vw;
}

.DetalheINFO_texto {
  justify-items: center;
}

/*Detalhes para responsividade*/

@media (max-width: 768px) {
   
  body {
    overflow-x: hidden;
  }

  header {
     height: 9.7vh;
  }

  .logo-quadrado {
    margin-top: -6vh;
    position: relative;
  }

  .icone-search, .icone-user, .icone-bag {
    width: 2.3vh;
  }

  .icone-search {
    margin-right: 8.5vw;
  }

  .header-icones {
    top: 2.5vmin;
    row-gap: 0.9vw; 
  }

  .fundo {
    height: 6.3vh;
  }

  .barra-pesquisa {
    top: 1.5vh;   
  }

  i {
    font-size: 1.7vw;
    position: absolute;
    margin-top: 0.6vh;
    margin-left: 1.35vw;
  }

  ul li input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
  margin-top: 0;
  }

  .barra-pesquisa input[type="text"] {          
    height: 87%;
    max-width: 100%;
    padding: 0 0.6rem;
    font-size: 0.6rem;
    margin-right: 15.5vw;
    padding: 0 4vw 0 24vw;
    box-sizing: border-box;
  }

  ul {
    margin-top: 0;
  }

  ul li {
     top: -0.3vh;
  }

  ul li a {
    font-size: 2.6vw;
    margin-left: 1vh;
    padding-left: 0.5vw;
    height: 6vh;
  }

  .opcaoC {
    font-size: 2.1vw;
    margin-left: 7.31vw;
  }

  .opcaoQ {
    font-size: 2.1vw;
  }

  #categorias {
    margin-left: 10vw;
    line-height: 4.5vh;
    max-width: 27vw;
  }

  #promocoes {
    margin-left: -5vw;
    line-height: 4.5vh;
    width: 27vw;
  }

  #colecoes {
    margin-left: 0;
    line-height: 4.5vh;
    width: 27vw;
  }

  ul li ul.submenu:not(#categorias, #promocoes, #colecoes) {
    margin-left: 0;
    line-height: 4.5vh;
    max-width: 120px;
  }

  ul li label:not(.opcaoC) {
    margin-left: 7vw;
  }

  .logo-fundo {
    top: 0;
    left: 0;
    width: 27vw;
    height: 13vh;
  }

  .logo {
    height: 9vh;
    left: 5.4vw;
    top: 0.6vh;
  }

  .menu {
    margin-top: 6vh;
    margin-left: 1vw;
    margin-right: 3.4vw;
  }

  .banner-principal {
    height: 35vw;
  }
  
  .separar {
    height: 1.3vh;
  }

  .produtos-geral {
    margin-top: 3vh;
  }

  .produtos {
    margin-left: 5%;
  }

  h1 {
    font-size: 3vw;
    margin-bottom: 2vh;
  }

  .linha1 {
    margin-top: 1vmax;
    height: 0.8vmin;
    width: 33vw;
  }

  .linha2 {
    margin-top: 1vmax;
    height: 0.8vmin;
    width: 33vw;
  }

  .linha3 {
    margin-bottom: 3vh;
    height: 0.8vmin;
    width: 92.7vw;
  }

  .P {
    width: 43vw;
    height: 64.6vmax;
    padding: 2vh 0vw 0vh 1.5vw;
    margin-bottom: 3vh;
  }

  .IMGprodutos {
    width: 40vw;
    height: 50vmax;
  }

  .Text-tipo {
    font-size: 2.22vw;
    margin-top: 0.6vh;
  }

  .Text-valor {
    font-size: 3.48vw;
    margin-top: 0.5vh;
  }

  .Text-parcela{
    font-size: 2.22vw;
  }

  .garantias {
    height: 21.47vmax;
    margin-bottom: 1vh;
    flex-wrap: wrap;
  }

  .garantias img {
    width: 12vw;
    height: auto;
  }

  .garantia4 {
    margin-right: 3vw;
  }

  .garantia2 .texto_garantias {
    max-width: 26vw;
    margin-right: 3vw;
  }

  .texto_garantias { 
    max-width: 30vw;
  }

  .garantia4 .texto_garantias {
    max-width: 26vw;
  }

  .garantia3 .texto_garantias {
    margin-left: 0.4vw;
    display: flex;
    flex-direction: column;
    max-width: 32vw;
  }

  .garantias h2 {
    font-size: 1.8vw;
    margin-bottom: 0.3vh;
  }

  .garantia p {
    font-size: 1.8vw;
  }

  .informacoes {
    height: 36vmax;
    padding-left: 3.3vw;
    column-gap: 15vw;
    row-gap: 0;
    flex-wrap: wrap;
  }

  .info2 {
    margin-left: 11.3vmax;
    column-gap: 0;
  }

  .informacoes h2 {
    font-size: 2.3vmax;
    margin-bottom: 0.7vh;
  }

  .newsletter_email input {
    margin-top: 0.3vh;
    width: 27.51vw;
    font-size: 2.22vmax;
  }

  .newsletter_email input::placeholder {
    font-size: 2.2vmax;
  }

  .button_letter {
    margin-top: 0.9vw;
    padding: 1.1vh 1.2vmax;
    font-size: 1.5vmax;
    border-radius: 2px;
  }

  .informacoes p {
    font-size: 1.8vmax;
    margin-bottom: 1vh;
  }

  .copyright {
    font-size: 1.8vh;
    padding: 1vh;
  }

  footer p {
    font-size: 2vmax;
  }

  .container_quadrados {
    margin-top: 4vh;
    margin-bottom: 3vh;
    gap: 2.6vw;
  }

  .quadrado1 {
    padding: 1.5vw;
    width: 42vmax;
    height: 48.5vmax;
    overflow-x: hidden;
  }

  .Email_Senha img {
    width: 2.5vmax;
  }

  .Email_Senha input {
    height: 5vh;
    padding: 0.5vw 4vmax 0.5vw 1vmax;
    font-size: 1.6vmax;
  }

  .Email_Senha label {
    font-size: 1.5vmax;
    margin-top: 2vh;
  }

  .Esqueceu_Senha {
    font-size: 1.5vmax;
  }

  .botao_entrarB {
    margin-top: 3vh;
  }

  .botao_entrarB, .botao_criarB {
    height: 5vh;
    font-size: 1.6vmax;
  }

  .divisao_botao {
    font-size: 1.6vmax;
  }

  .botao_entrarG {
    font-size: 1.6vmax;
    height: 5vh;
  }

  .quadrado2 {
    padding: 2vw 1.1vw;
    width: 35vw;
    height: 26.8vmax;
    overflow-x: hidden;
  }

  .texto_conta {
    font-size: 1.77vmax;
    line-height: 1.8vmax;
    margin-bottom: 2.5vh
  }

  .quadrado1 h2 {
    font-size: 2.6vmax;
  }

  .quadrado2 h2 {
    font-size: 2.2vmax;
  }

  .d1 {
    height: 3.7vh;
    width: 22.4vw;
  }

  .d2 {
    height: 3vh;
    width: 14.10vw;
  }

  .d3 {
    height: 3vh;
    width: 9.10vw;
  }

  .container_FORMULARIO {
    margin-top: 4vh;
    margin-bottom: 3vh;
  }

  .quadradoFORM {
    padding: 2vw;
    width: 60vw;
    height: 93vmax;
  }

  .quadradoFORM h2 {
    font-size: 3.5vw;
  }

  .Texto_Senha {
    font-size: 2vmax;
    margin-top: -0.5vh;
  }

  .OlhoIMG1, .OlhoIMG2 {
    width: 3vw;
    right: 1vmax;
  }

  .OlhoIMG1 {
    top: 54%;
    transform: translateY(-54%);
  }

  .OlhoIMG2 {
    top: 83%;
    transform: translateY(-83%);
  }

  .Form_input input {
    height: 5.5vh;
    padding: 0.5vw 5vw 0.5vw 1.5vw;
    font-size: 2vmax;
  }

  .Form_input label {
    font-size: 2vmax;
  }

  .termos_Container {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .termos_Conta {
    font-size: 1.8vmax;
  }

  .container_Marca {
    margin-top: 4vh;
    margin-bottom: 3vh;
  }

  .quadradoMarca {
    padding: 2.5vw 2.6vw;
    width: 92vw;
    height: 67vh;
  }

  .LojaSafira {
    width: 90%;
  }

  .textoMarca {
    width: 90%;
    margin-left: 3vw;
    margin-top: 2vh;
  }

  .textoMarca h1 {
    font-size: 2.3vmax;
    margin-bottom: 2.7vh;
  }

  .textoMarca h2 {
    font-size: 1.7vmax;
    margin-bottom: 1.5vh;
  }

  .textoMarca p {
    font-size: 1.5vmax;
    width: 94%;
    margin-bottom: 2vh;
  }

}

@media (max-width: 480px) {

  header {
     height: 8.5vh;
  }

  .menu {
    margin-right: 3.9vw;
  }

  .fundo {
    height: 5.7vmax;
  }

  .logo {
    height: 8vmax;
    left: 1.8vmax;
    top: 0.9vmax;
  }

  .logo-fundo {
    width: 33vmin;
    height: 11vmax;
  }

  .icone-search, .icone-user, .icone-bag {
    width: 2vh;
  }

  .icone-search {
    margin-right: 7vw;
  }

  .header-icones {
    top: 3.5vmin;
  }

  .barra-pesquisa input[type="text"] {          
    height: 70%;
  }

  ul li {
     top: -0.5vh;
  }

  ul li a {
    font-size: 3vw;
    margin-left: 1vh;
    padding-left: 0.5vh;
    height: 7vw;
  }

  .opcaoC {
    font-size: 2.5vw;
  }

  .opcaoQ {
    font-size: 2.5vw;
  }

  ul li ul.submenu {
    margin-top: 1.3vw;
  }

  ul li label:not(.opcaoC) {
    margin-left: 3.4vw;
  }

  i {
    font-size: 2.2vw;
    margin-top: 0.5vh;
    margin-left: 1vw;
  }

  ul li input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
  margin-top: 0.3vh;
  }

  .separar {
    height: 1.3vh;
  }

  .produtos-geral {
    margin-top: 2vh;
  }

  .produtos {
    margin-left: 6%;
  }

  h1 {
    font-size: 4vw;
    padding: 0 1vw 0 1vw ;
    margin-bottom: 2vh;
  }

  .linha1 {
    margin-top: 1vh;
    width: 30vw;
  }

  .linha2 {
    margin-top: 1vh;
    width: 30vw;
  }

  .linha3 {
    margin-bottom: 3vh;
    height: 3px;
  }

  .P {
    width: 43vw;
    height: 44vmax;
    padding: 1.5vh 0vw 0vh 1.5vw;
    margin-bottom: 2vh;
  }

  .IMGprodutos {
    height: 35vmax;
  }

  .Text-tipo {
    margin-top: 0.2vh;
  }

  .garantias {
    height: 24.47vmax;
  }

  .garantias img {
    width: 14vw;
  }

  .garantias h2 {
    font-size: 2.5vw;
  }

  .garantia p {
    font-size: 3vw;
  }

  .informacoes {
    height: 32vmax;
    column-gap: 5vw;
  }

  .info2 {
    margin-left: 11.5vmax;
  }

  .informacoes h2 {
    font-size: 1.6vmax;
  }

  .newsletter_email input {
    margin-top: 0vh;
    width: 33.51vw;
    font-size: 1.7vmax;
  }

  .newsletter_email input::placeholder {
    font-size: 1.7vmax;
  }

  .button_letter {
    margin-top: 0.7vh;
    font-size: 1.3vmax;
  }

  .informacoes p {
    font-size: 1.5vmax;
  }

  .copyright {
    font-size: 1.5vh;
    padding: 0;
  }

  .quadrado1 {
    padding: 1.8vw;
    width: 30vmax;
    height: 47.5vh;
  }

  .Email_Senha label {
    font-size: 1.5vmax;
  }

  .Esqueceu_Senha {
    font-size: 1.5vmax;
  }

  .botao_entrarB, .botao_criarB {
    height: 4.5vh;
    font-size: 1.5vmax;
  }

  .divisao_botao {
    font-size: 1.5vmax;
  }

  .botao_entrarG {
    font-size: 1.5vmax;
    height: 4.5vh;
  }

  .quadrado2 {
    padding: 2.5vw 1.5vw;
    width: 36vw;
    height: 32.5vh;
  }

  .texto_conta {
    font-size: 1.67vmax;
    line-height: 1.8vmax;
  }

  .d1 {
    height: 2.9vh;
  }

  .d2 {
    height: 2.5vh;
  }

  .d3 {
    height: 2.5vh;
  }

  .container_FORMULARIO {
    margin-top: 4vh;
    margin-bottom: 3vh;
  }

  .quadradoFORM {
    padding: 3vw;
    width: 65vw;
    height: 87vmax;
  }

  .quadradoFORM h2 {
    font-size: 4vw;
    margin-bottom: 0;
  }

  .Texto_Senha {
    font-size: 1.6vmax;
  }

  .OlhoIMG1, .OlhoIMG2 {
    width: 4vw;
    right: 1vmax;
  }

  .OlhoIMG1 {
    top: 55%;
    transform: translateY(-55%);
  }

  .OlhoIMG2 {
    top: 83%;
    transform: translateY(-83%);
  }

  .Form_input input {
    height: 5vh;
    padding: 0.5vw 4vmax 0.5vw 1.2vmax;
  }

  .termos_Conta {
    font-size: 1.5vmax;
  }

  .container_Marca {
    margin-top: 4vh;
    margin-bottom: 3vh;
  }

  .quadradoMarca {
    width: 94vw;
    height: 77vh;
  }

  .LojaSafira {
    width: 80%;
    height: 50%;
  }

  .textoMarca {
    width: 90%;
  }

  .textoMarca h1 {
    margin-left: -1vw;
    margin-bottom: 2vh;
  }

  .textoMarca h2 {
    font-size: 1.55vmax;
    margin-bottom: 1vh;
  }

  .textoMarca p {
    font-size: 1.5vmax;
    margin-bottom: 1.5vh;
  }

}